/* Website template by freewebsitetemplates.com */
/*------------------------- Layout styles ------------------------*/ 
body{
	margin:0;
 font: 16px Georgia, serif;
 line-height:20px;
 background:#F5F5F5;
}

h2,h1,h3,h4,h5,h6 {
    background:  #CCF;
    padding: 8px;
	font-family: "Comic Sans MS", cursive;
  	margin:5px 0 0;
	font-weight:500;
} 
h3{
	font-size:18px;
	text-align:center;
}
.page{
width:1010px;
margin-left:130px;
}



/*------------------------- Header ------------------------*/ 
.header{
	background:url(../images/bl1.jpg) repeat 90px;
	width:1010px;
	margin:0 auto;
	height:80px;
	border:#000 thin groove;
}
.header a#logo{
	display:block;
	float:left;
	outline:none;
}
.header a#logo img{
	border:0;
}
.header ul{
	margin:0;
	list-style:none;
	padding:13px 0 0;
	float:right;
}
.header ul li{
	float:left;
	margin:0 0 0 63px;
}
.header ul li.selected a,.header ul li a:hover{
	color:#f78117;
}
.header ul li a{
	font-size:16px;
	text-decoration:none;
	color:#5e5e5e;
	font-family: ' "Times New Roman", Times, serif';
	outline:none;
}

/*------------------------- Body ------------------------*/ 
.body{
	width:1010px;
	margin:0 auto;
	padding-bottom:20px;
	min-height:380px;

}
.featured{
	min-height:585px;
    padding-top:10px;
	padding-bottom:30px;
	padding-left:30px;
	padding-right:30px;
	border-radius:20px;
	background:#FFF;
    /*background-image:url(../images/bg4.png) ; 
      opacity:0.5;
      fileter:alpha(opacity=40);transparency */

}
.featured p{
	color:#000;
	font-size:20px;
	line-height:25px;
	text-shadow: 0 1px 0 #666;
	text-align:justify;
	margin:0;
}
.featured input{
	border:1;
	color:#000;
}
.featured input[type ='submit'] ,input[type ='button'] {
	border:0;
	background-color:#BFBFFF;
}



.body p{
	font-size:16px;
	text-align:justify;
	color:#000;
	margin:0 0 20px;
	line-height:21px;
}
.body p a{
	outline:none;
	color:#636363;
}
.featured ul{
	list-style:none;
        margin:0;
        padding:0;
}
.featured ul li{
     	font-size:18px;
        cursor: pointer;

}
.body ul{
	list-style:none;
        margin:0;
        padding:0;
}
.body ul li{
        color:#009;
	font-size:18px;

}

/*------------------------- Footer ------------------------*/ 
.footer{
	width:995px;
	background:url(../images/bl1.jpg) repeat scroll 0% 0% transparent ; ;
	padding:40px 10px 20px;
	margin:0 auto;
	overflow:hidden;
	border-radius:10px 10px 0px 0px;
	height:15px;
}
.footer ul{
	list-style:none;
	margin:0 0 0 60px;
	padding:0 auto;
	overflow:hidden;
	float:left;
}
.footer ul li:first-child a{
	border:none;
	padding:0 6px 0 0;
}
.footer ul li{
	float:left;
}
.footer ul li a:hover{
	color:#F78117;
}
.footer ul li a{
	border-width: 1px;
	border-color:#5b5b5b;
	border-style: none none none solid;
	color:#5b5b5b;
	font-size:10px;
	font-family: Trebuchet MS;
	text-decoration:none;
	font-weight:bold;
	padding:0 13px;
	outline:none;
}
.footer p{
	color:#5b5b5b;
	font-size:10px;
	font-family: Trebuchet MS;
	font-weight:bold;
	float:left;
	margin:6px 0 0 135px;
}
.footer div.connect{
	float:left;
	margin:1px 0 0 92px;
	padding-top:15px
}
.footer div.connect a{
	float:left;
	outline:none;
}
.footer div.connect a#facebook{
	width:27px;
	height:28px;
	display:block;
	text-indent:-9999px;
	background:url(../images/icons.gif) no-repeat;
}
.footer div.connect a#twitter{
	width:36px;
	height:28px;
	display:block;
	text-indent:-9999px;
	background:url(../images/icons.gif) no-repeat 0 -48px;
	margin:0 0 0 68px;
}
.footer div.connect a#vimeo{
	width:32px;
	height:28px;
	display:block;
	text-indent:-9999px;
	background:url(../images/icons.gif) no-repeat 0 -96px;
	margin:0 0 0 73px;
}


.previous {
    outline:none;
    cursor:pointer;
    margin-left:215px;
    vertical-align: bottom;
    height: 10px;
}
.next {
    outline:none;
    cursor:pointer;
    margin-left:215px;
    vertical-align: top;
    height: 10px;
}

#welcome{
	text-transform:uppercase;
	text-align:center;
	text-decoration:underline;
	text-shadow:#333;
	font-size:18px;
	color:#000;
    padding-top:10px;
	padding-bottom:10px;	
	
}
	#thead{
			font-size:24px;
			color:#006;
			text-decoration:underline;
		    font-family:"Times New Roman", Times, serif;
			font-style:italic;
			text-align:center;
			margin-left:350px;

			}



/*
.framestyle
{
opacity:0.5;
fileter:alpha(opacity=40);transparency	

}*/
.leftpanel{
  width:650px;
  min-height:320px;
  float:left;	
}

.rightpanel{
  width:280px;
  min-height:60px;
  float:right;	
}

.rightpanel li { 
	color:#6e6969; 
	margin: 0 0 10px 0;
	padding: 0 2px 0 15px; 
	background: url(../images/arrow.gif) no-repeat scroll 0px 10px;  
}
.rightpanel li a { 
	color:#000; 
}
#generate_report{
   min-height:160px;
}
#generate_report  ul{
  padding-top:10px;
}
#generate_report li{
  color:#6e6969; 
	margin: 0 0 10px 0;
	padding: 0 2px 0 15px; 
	background: url(../images/arrow.gif) no-repeat scroll 0px 10px;  
}

.error_strings
{
    font-family:Verdana;
    font-size:10px;
    color:#FF0000;
}
.sfm_float_error_box
{
    position:absolute;
    z-index:999;
    cursor:default;
    font-family:Verdana;
    font-size:10px;
    color:#FF0000;
    background-color:#9DB0E1;
    border-style:solid;
    border-width:1px;
    border-color:#FF0000;
}
.sfm_float_box_td
{
    padding:3px;
    cursor:default;
    font-family:Verdana;
    font-size:10px;
    color:#FF0000;
    background-color:#9DB0E1;
}
.sfm_close_box
{
    font-family:Verdana;
    font-size:10px;
    font-weight:bold;
    color:#ffffff;
    background-color:#9DB0E1;
    border-width:0px;
    text-align:center;
}
.sfm_cr_box
{
    font-family:Verdana;
    font-size:10px;
    color:#888888;
    border-style:solid;
    border-width:0px;
    border-color:#9DB0E1;
}
.sfm_cr_box a
{
    color:#888888;
}
