.body
{
	font-family: gentium-book-basic-n4, sans-serif;
}

.menu-footer
{
	font-family: open-sans-n4, sans-serif;
}

.subhead-serif
{
	font-family: gentium-book-basic-i7, sans-serif;
}

.heading,.menu-header,.subhead
{
	font-family: open-sans-condensed-n7, sans-serif;
}

.Navigation,.Heading---Small
{
	font-family: gentium-book-basic-i4, sans-serif;
}

.Heading---Large
{
	font-family: raleway-n1, sans-serif;
}

#u7216-4
{
	font-family: gentium-book-basic-n4, sans-serif;
}

